/* themes/default/components/page-header.css */
.page-header>.page-title-container {    
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: space-between;
    flex-basis: 90%;
    /* margin-left: 10%; */
    /* border: 1px solid red; */
    margin-left: 5%;
    flex-wrap: wrap;
}
.page-title-container h1 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: .8;
}
.page-header .tel-num-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8rem;
}
.page-title-container h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .4rem;
    margin-left: 25%;
    /* border: 1px solid blue; */
}
.page-header .page-title {
    text-decoration: none;
    letter-spacing: 12%;
    
    font-size: 1.1rem;
}


.page-header {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
}
.page-header > img{
    display: flex;
    justify-content: space-between;
}

#versionTile,
.page-header  img {
    height: 10vh !important;
    position: absolute;;
    right: 0;
    z-index: 99;
}
#versionTile{
    display: block;
    z-index: 100
    
}
.page-header {
    width: 100%;
    position: fixed;
}
.tel-num-header {
    font-size: .5rem;
}

