/* toggle-nav.css */
.page-wrapper.expand>.mobile-header-nav {
    border-top: 0;
    box-shadow: 0 1px 1px 1px grey;
    height: 20vh;
    position: fixed;
    transform: translateY(0) scaleX(1);
    opacity: 1;
    z-index: 1;
    top: 5%;
    bottom: auto;
    transition: all 800ms;
}

.page-wrapper.expand .mobile-header-nav ul>li>ul {
    padding-top: 8%;
}

.page-wrapper.expand .mobile-header-nav ul>li {
    padding-top: 1%;
    animation: slideInX 100ms forwards;
}


/* Animate AFTER parent */
.page-wrapper.expand .mobile-header-nav ul li ul li {
    animation: dropIn 150ms forwards;
}

/* stagger them vertically */
.page-wrapper.expand .mobile-header-nav ul li ul li:nth-child(1) {
    animation-delay: 120ms;
}

.page-wrapper.expand .mobile-header-nav ul li ul li:nth-child(2) {
    animation-delay: 170ms;
}

.page-wrapper.expand .mobile-header-nav ul li ul li:nth-child(3) {
    animation-delay: 220ms;
}

.page-wrapper.expand .mobile-header-nav ul li ul li:nth-child(4) {
    animation-delay: 270ms;
}

@keyframes slideInX {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes dropIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}