.home-page-container button.section-title {
    background-color: rga(0, 0, 0, 0);
}

.home-page-header {
    /* background-image: url('../../../imgs/istock/istockphoto01.jpg'); */
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: 0%;
    background-size: 80% !;
    /* filter: grayscale(0); */
}

footer {
    background-image: url('../../../imgs/chatImgCollage.png');
    height: 10vh;
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-position-x: 0%;
    filter: grayscale(50%);
}

.contact-container {
    background-image: url('../../../imgs/ai-longevity-madonna-spa.png');
    /* background-color: blue; */
    /* height: 10vh; */
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position-x: 50%;
    background-size: 90%;
    filter: grayscale(80%);
}

#bioHormoneReplacementHomePage {
    width: 50vw !important;
 
    background-image: url('../../../imgs/ai-imgs/8c5bef42-4ec2-4c5c-be3c-9804e804114f.png');
    height: 20vh;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 40%;

    /* filter: grayscale(50%); */
    /* background-size: 89%; */
}