/* spacing-home.css */
.page-container.home-page-container{
    padding-top: 10%;
}
.home-page-header> p{
    padding-bottom: 5%;
    padding-left: 2%;
}
.home-page-header>.contact-content>.img-wrapper>img {
    margin-left: 5%;
}
.home-page-container > .main-content {
    padding: 0 5% !important;
    border: 2px solid purple;
}

.address-num-container .address-box{
    padding: 2%
}
 .address-num-container {
    /* padding: 0 5%; */               
    padding-bottom: 10%;

 }

.page-container.home-page-container  .main-item{
    padding-bottom: 2%;
    
    padding-right: 1%;
}
.page-container.home-page-container  .main-item > p{
    padding-right: 1%;
    /* padding:0  2%; */
    padding-left: 3%;
    padding-top: 5%;
    line-height: 1.55;
}
.page-container.home-page-container  .main-item > .content > p{
    line-height: 1.55;

}

