/* txt-home.css*/
.home-page-header>p {
    font-family: 'Courier New', Courier, monospace;
}
.home-page-container   {
}   
.address-num-container>p {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.35rem;
}
.home-page-container button.section-title{
    color: var(----font-p-clr);
    font-size: 1rem !important;
    font-family: Arial, Helvetica, sans-serif;
    background-color: inherit;
    border: none;
    letter-spacing: 20%;
    font-size: 1rem;
    text-decoration: none;
}

.page-container.home-page-container .main-item>p {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-size: 1rem; */
    /* font-weight: 400; */
    line-height: 1.8;
}
.page-container.home-page-container .main-item p {
    font-family: 'Courier New', Courier, monospace;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9rem;
}