/* reviews-swiper.css */
.swiper.reviews-swiper {
    width: 100%;
    max-width: 40vw;
    height: 12vh;

    overflow: hidden;

    user-select: none;

    touch-action: pan-y;
}

.swiper.reviews-swiper .swiper-wrapper,
.swiper.reviews-swiper .swiper-slide {
    height: 100%;
}