/* service-swiper.css */
.swiper.services-swiper {
        overscroll-behavior: contain;
    width: 100%;
    overflow: hidden;
    height: 50vh;
    touch-action: pan-x;
}
.services-swiper .service-title{
    padding: 2%;
    background:transparent;
}
.services-swiper .swiper-slide {
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
    transition:
    transform 0.4s ease,
    opacity 0.4s ease;
    opacity: 0.4;
    transform: scale(0.4);
    display: flex;
    flex-direction: column;
    width: 60%;
    transform: scale(0.7) !important;
    
}

.services-swiper .swiper-slide-active {
    opacity: 1;
    transform: scale(1) !important;
    z-index: 2;
}

.services-swiper .swiper-slide-prev,
.services-swiper .swiper-slide-next {
    /* transform: scale(0.7) !important; */
}

.services-swiper .swiper-slide > .content{
    padding: 5%;
    
}
.services-swiper > .swipper-wrapper> .swiper-slide.service > .content p{
    line-height: 1.8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 888;
    text-shadow: 0 1px 1px whitesmoke;
    /* font-size: .1rem !important; */
}