/* sizing-home.css*/
.home-page-header{
    /* height: 7vh; */
}
.home-page-header > .address-num-container{
    flex-basis: 70%;
}
.home-page-header .contact-content>.img-wrapper{
    flex: 10%;

}
.home-page-header .contact-content>.img-wrapper> a {
}
.home-page-header .contact-content>.img-wrapper> a img {
    height: 10vh;
    width: 100%;
    /* display: none; */
}
.img-wrapper {
    /* height: 20vh; */
}
.mission-state > p {
    padding-top: 2%;
}
.main-item .content>.img-wrapper {
    height: fit-content;
    width: fit-content;
}
.main-item .content>.img-wrapper > img{
    height: 14vh;
}
.home-page-container .animation-container{
    width: 50%;
}