/* spacing-home.css */
.page-container.home-page-container{
    /* padding-top: 20%; */
}
.home-page-header>.contact-content>.img-wrapper>img {
    margin-left: 5%;
}
.main-item {
    /* margin-bottom: 2%; */
}
.address-num-container .address-box{
    padding: 2%
}
 .address-num-container {
    /* padding: 0 5%; */               
    padding-bottom: 10%;

 }
 

.page-container.home-page-container  .mission-state p{
    /* padding: 2% 2%; */
    margin-left: 5%;
    /* background-color: blue; */
}
.main-item h3{
    /* margin-left: 25%; */
    padding-left: 5%;
}