/* text.css */

.mobile-header-nav li a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mobile-header-nav li a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mobile-header-nav>ul>li a {
    font-weight: 600;
    font-size: .8rem;
    color: var(--header-clr);
}