/* text.css */
.page-header .page-title {
    text-decoration: none;
    letter-spacing: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}
.page-header .tel-num-header {
    font-size: 1.5rem;
}
.mobile-header-nav li a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mobile-header-nav li a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mobile-header-nav>ul>li a {
    font-weight: 600;
    font-size: 1.05rem;
    color: var(--header-clr);
}