/* layout-med-spa-serv.css */
.page-container.med-spa-serv-container {
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.section-title {
    display: block;
}
.more-info-links {
    display: flex;
}