/* sizing.css */
.page-header .img-wrapper img {
    height: 15vh !important;
}
.page-header {
    width: 100%;
    position: fixed;
}

.mobile-header-nav {
    width: 100%;
}
/* .main-landing-page { */
    /* position: absolute; */
    /* top: 0; */
/* } */
/* .page-wrapper { */
    /* position: relative; */
/* } */
/*  */
/* 

/*  */
/* .page-header .img-wrapper { */
    /* position: absolute; */
    /* right: 0%; */
/* } */
/*  */
/* .social-media-link-container { */
    /* position: relative; */
/* } */
/*  */
/* .social-media-link-container a {} */
/*  */

