/* text.css */
.page-header .page-title {
    text-decoration: none;
    letter-spacing: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.page-header .tel-num-header{
    font-size: 1.1rem;
}