/* mobile-header-nav.css */
:root{
    --social-max-height: 3vh;
}
.page-wrapper>.mobile-header-nav {
    width: 100%;
    height: 10vh;
}
.page-wrapper>.mobile-header-nav>ul>li>ul {
    display: none
}
.social-media-container {
    display: flex;
    flex-direction: column;
}
.mobile-header-nav {
    position: fixed;
    z-index: 2;
    bottom: 0;
}
.mobile-header-nav>ul {
    display: flex;
}

.mobile-header-nav>ul>li {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}
.mobile-header-nav>ul>li>ul {
    display: none;
    flex-direction: column;
    margin-left: 5%;
}

.mobile-header-nav>ul>li>ul>li {
    width: 120%;
}

.mobile-header-nav>ul>li>a {
    display: inline-block;
    text-align: center;
}
.mobile-header-nav>ul>li>a {
    text-decoration: none;
    display: inline-flex;
    /* or inline-flex */
    align-items: center;
    justify-content: center;
}
.mobile-header-nav li a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mobile-header-nav>ul>li a {
     font-weight: 600;
    font-size: 1.35rem;  
     color: var(--header-clr);
}

li#contactNavLink {
    flex: 1 1 0;
    /* same behavior as others */
    min-width: 0;
    /* 🔥 allows shrinking */
}

.social-media-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.social-media-link-container {
    flex: 1;
    display: flex;
}

.social-media-link-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid ;
    /* max-height: 20px !important; */
    width: 100%;
    max-height: var(--social-max-height);
    height: fit-content;
}




.social-media-link-container svg {
    max-height: var(--social-max-height);
    margin-top: 4%;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.social-media-link-container {
    position: relative;
}