/* page-header.css */
.page-header {
    position: fixed;
    /* height: 5vh; */
    /* margin: 0; */
    z-index: 2;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.page-header > img{
    display: flex;
    justify-content: space-between;
}
.page-header>.page-title-container {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    flex-wrap: wrap;
}
.page-header  img {
    height: 15vh !important;
    position: absolute;;
    right: 0;
    z-index: 99;
}

.page-header {
    width: 100%;
    position: fixed;
}

