/* animations.css */
.smoke-container {
  /* position: relative; */
  /* adjust */
  /* overflow: hidden; */
}

.smoke-img {
  width: 100%;
  display: block;

  /* animation */
  animation: smokeFade 2s ease-out forwards;

  /* smoky breakup effect */
  filter: blur(0px);
}

@keyframes smokeFade {
  20% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0px);
  }

  30% {
    opacity: 0.9;
    filter: blur(2px);
  }

  70% {
    opacity: 0.5;
    transform: translateX(0px);
    filter: blur(6px);
  }

  100% {
    opacity: 0;
    transform: translateX(2px);
    filter: blur(12px);
  }
}