/* med-spa-services.css */
.section#bioHormoneReplacement>button.section-title{
    /* position: relative; */
}
.section#bioHormoneReplacement>button.section-title>img {
    z-index: 10;
    /* position: absolute; */
    left: 50%;
    bottom: 50%;
}

.content-box{
    position: relative;
}
.content-box::after{
    clear: both;
    content: ' ';
    display: block;
}
.content-box > .img-wrapper {
    float: right !important;
}
